
@{
    ViewBag.Title = "AgregarEmpresa";
}

<div class="container">
    @using (Html.BeginForm("GuardarEmpresa", "Home", FormMethod.Post))
    {
        <input type="hidden" name="txtID" />
        <div class="form-group">
            <label class="control-label col-xs-3">Razon Social: </label>
            <div class="col-xs-12">
                <input type="text" name="txtRazonSocial" class="form-control" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Nombre comercial: </label>
            <div class="col-xs-12">
                <input type="text" name="txtNomComercial" class="form-control" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Nombre contacto: </label>
            <div class="col-xs-12">
                <input type="text" name="txtNomContacto" class="form-control" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Regimen social: </label>
            <div class="col-xs-12">
                <input type="text" name="txtRegSocial" class="form-control" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Telefono: </label>
            <div class="col-xs-12">
                <input type="text" name="txtTelefono" class="form-control" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Correo: </label>
            <div class="col-xs-12">
                <input type="text" name="txtCorreo" class="form-control" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Pais: </label>
            <div class="col-xs-12">
                <input type="text" name="txtPais" class="form-control" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Estado: </label>
            <div class="col-xs-12">
                <input type="text" name="txtEstado" class="form-control" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Municipio: </label>
            <div class="col-xs-12">
                <input type="text" name="txtMunicipio" class="form-control" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Colonia: </label>
            <div class="col-xs-12">
                <input type="text" name="txtColonia" class="form-control" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Localidad: </label>
            <div class="col-xs-12">
                <input type="text" name="txtLocalidad" class="form-control" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Calle: </label>
            <div class="col-xs-12">
                <input type="text" name="txtCalle" class="form-control" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Numero exterior: </label>
            <div class="col-xs-12">
                <input type="text" name="txtNumExterior" class="form-control" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Numero Interior: </label>
            <div class="col-xs-12">
                <input type="text" name="txtNumInterior" class="form-control" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Codigo postal: </label>
            <div class="col-xs-12">
                <input type="text" name="txtCP" class="form-control" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <input type="reset" value="Limpiar" class="btn btn-default" />
            </div>
        </div>

    }
</div>

