
@{
    ViewBag.Title = "BorrarRol";
    SiscomSoft.Models.Rol Dato = ViewBag.Dato;
}

<div class="container">
    <h3> Datos a borrar </h3>
    <div class="alert alert-success col-xs-12" role="alert">
        <ul>
            <li>Rol: <strong>@Dato.sNombre</strong></li>
            <li>Comentario: <strong>@Dato.sComentario</strong></li>
        </ul>
    </div>
    @using (Html.BeginForm("EliminarRol", "Home", FormMethod.Post))
    {
        <input type="hidden" value="@Dato.pkRol" name="txtId" />
        <div class="row">
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="submit" value="Borrar" class="btn btn-danger" />
                    <a href="~/Home" class="btn btn-default"></a>
                </div>
            </div>
        </div>
    }
</div>

